$highlight-color: rgb(213, 62, 79) 
$opacity: 1.0
$font-size: 16px 
$medium-font-size: 14px
$small-font-size: 12px
$background-color: white
$border-radius: 5px
$gray: rgb(235, 235, 235)

@mixin box
    background-color: $gray
    font-family: consolas
    font-size: $medium-font-size
    padding: 10px
@mixin font($size, $line-height)
    font-family: "open_sansregular", Helvetica, sans-serif 
    / font-family: 'Georgia', serif
    font-size: $size
    line-height: $line-height
    color: black
body
    @include font($font-size, 1.4)
    margin: 20px auto
    padding: 0px
    width: 750px
h1, h2, h3, h4, h5, h6
    font-weight: 500
    color: inherit
h3
    font-size: 100%
    font-weight: bold
    display: inline
    &:before
        content: ">"
        color: $gray - 20
        font-size: 30px
        font-weight: bold
        position: absolute
        margin-left: -1em
        margin-top: -10px
        padding-right: 0em
header
    margin-bottom: 20px
    h1
        font-size: 70px
        display: inline
    h2
        font-size: 20px
        display: inline
        font-style: italic
    img
        height: 120px
        margin: 0 0 -30px -7px
        /border: 1px solid red
    a
        text-decoration: none
        &:hover, &:active
            text-decoration: none
a
    color: royalblue
    text-decoration: none
    &:hover, &:active
        text-decoration: underline
p 
    margin: 0 0 1em 0
table
    border-collapse: collapse
    width: 750px
    font: inherit
    margin: 1em 0em
    td
        padding: 0 15px 0 0
textarea
    @include box
    border: none
    resize: none
    width: 745px
    height: 250px
    &.source
        width: 225px
    &.short
        height: 50px